body {
  background-color: black;
}

.total-page-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10%;
  align-items: center;
}
.button-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.button-group a {
  text-decoration: none;
  color: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 5%;
  background-color: #a42c2c;
}

.release-announcement {
  display: flex;
  flex-direction: column;
  margin-right: 91px;
  color: white;
}
.release-announcement .h2 {
  font-size: 20;
}

.for-warhammer-animation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
}

.skullthrone-button {
  background-image: url("/assets/images/Mark_of_Khorne.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;

  background-color: transparent;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.arc-shape {
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.arc-shape.top-left {
  border-top: 20px solid #a42c2c;
  border-left: 20px solid #a42c2c;
  border-radius: 100%;
  grid-template-rows: auto auto 1fr;
  justify-self: end;
}

.arc-shape.top-right {
  border-top: 20px solid #a42c2c;
  border-right: 20px solid #a42c2c;
  border-radius: 100%;
  grid-template-rows: auto auto 1fr;
}

.center-of-grid {
  place-self: center;
}

.arc-shape.bottom-left {
  border-left: 20px solid #a42c2c;
  border-bottom: 20px solid #a42c2c;
  border-radius: 100%;
  align-self: end;
  justify-self: end;
}
.arc-shape.bottom-right {
  border-right: 20px solid #a42c2c;
  border-bottom: 20px solid #a42c2c;
  border-radius: 100%;
  align-self: end;
}

.bubble-animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.button-bubble-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.speech-bubble {
  position: relative;
  width: 250px;
  padding: 20px;
  background-color: #a42c2c;
  border-radius: 12px;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 22.5px solid transparent;
  border-top-color: #a42c2c;
  bottom: -44px;
  right: 50%;
  transform: translateX(-50%);
}
.speech-bubble-throne {
  position: relative;
  width: 250px;
  padding: 20px;
  background-color: #a42c2c;
  border-radius: 12px;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.speech-bubble-throne::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 22.5px solid transparent;
  border-top-color: #a42c2c;
  bottom: -45px;
  right: 50%;
  transform: translateX(-50%);
}
